{% extends 'portfolio/layout.html' %} {% block main %}
<section id="profile" class="profile_information">
  <div class="profile_social_links">
    <ul class="social_links">
      <li>
        <a href="{{ profile_info.linkedin }}"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </li>
      <li>
        <a href="{{ profile_info.github }}"
          ><i class="fa-brands fa-github"></i
        ></a>
      </li>
      <li>
        <a href="{{ profile_info.x }}"
          ><i class="fa-brands fa-x-twitter"></i
        ></a>
      </li>
    </ul>
  </div>
  <div class="profile_info">
    <div class="introduction">
      <p>Hola, soy <span class="name">{{profile_info.name}}</span></p>
      <p class="title">Desarrollador Fullstack</p>
      <p class="description">
        Ser un desarrollador Full Stack significa tener habilidades y
        conocimientos tanto en el desarrollo frontend como en el backend de
        aplicaciones web. Un desarrollador Full Stack es capaz de manejar todos
        los aspectos de una aplicación web, desde la interfaz de usuario y la
        experiencia del cliente hasta la lógica del servidor, la base de datos y
        la implementación del servidor.
      </p>
    </div>
    <div class="profile_info_typing">
      <span id="typewriter"></span>
    </div>
    <a class="button-profile" href="#">Saber más</a>
  </div>
  <div class="profile_picture">
    <img src="../../static/portfolio/images/developer.jpeg" width="500px" />
  </div>
</section>
<section id="about" class="about_information">
  <div class="section_header">
    <span class="section_title">Sobre mi</span>
    <span class="section_subtitle">Breve introducción</span>
  </div>
  <div class="about_profile">
    <img src="{{profile_info.profile_picture.url}}" alt="Pablo Alvarado" />
    <div class="about_profile_info">
      <p>{{profile_info.name}}</p>
      <p>{{profile_info.bio|safe}}</p>
    </div>
  </div>
  <div class="about_education_experience">
    <div class="about_education">
      <span class="section_block_title">Formación Académica</span>
      {% if list_education %}
      <ul>
        {% for education in list_education %}
        <li>
          <div class="card_education">
            <div class="institution">
              <i class="fa-solid fa-school"></i
              ><span class="institution">{{education.institution}}</span>
            </div>
            <div class="degree">
              <i class="fa-solid fa-graduation-cap"></i
              ><span class="degree">{{education.degree}}</span>
            </div>
            <div class="card_education_dates">
              <i class="fa-regular fa-calendar"></i
              ><span>{{education.start_date|date:"Y-m-d"}}</span>
              <i class="fa-regular fa-calendar"></i
              ><span> {{education.end_date|date:"Y-m-d"}}</span>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No existe formación de educación</p>
      {% endif %}
    </div>
    <div class="about_experience">
      <span class="section_block_title">Experiencia Laboral</span>
      {% if list_experience %}
      <ul>
        {% for experience in list_experience %}
        <li>
          <div class="card_experience">
            <div class="role">
              <i class="fa-solid fa-crosshairs"></i>
              <span>{{experience.title}}</span>
            </div>

            <div class="company">
              <i class="fa-regular fa-building"></i>
              <span>{{ experience.company }}</span>
            </div>

            <div class="card_experience_dates">
              <i class="fa-regular fa-calendar"></i>
              <span>{{ experience.start_date|date:"Y-m-d" }}</span>
              <i class="fa-regular fa-calendar"></i>
              <span>{{ experience.end_date|date:"Y-m-d" }}</span>
            </div>
          </div>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>No existe información de experiencia laboral</p>
      {% endif %}
    </div>
  </div>
  <div class="about_skills">
    <span class="section_block_title">Habilidades</span>
    {% if list_skills %}
    <ul class="list_skills">
      {% for skill in list_skills %}
      <li>
        <div class="card_skills">
          <i class="{{skill.logo}}"></i>
          <div class="card_skills_info">
            <span>{{skill.name}}</span>
            <div class="w3-light-grey">
              <div class="w3-green" style="{{skill.style}}">
                <p>{{skill.proficiency}}%</p>
              </div>
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No existen habilidades</p>
    {% endif %}
  </div>
</section>
<section id="services" class="services_information">
  <div class="section_header">
    <span class="section_title">Servicios</span>
    <span class="section_subtitle"
      >Transformando ideas en realidades digitales</span
    >
  </div>
  {% if list_service %}
  <ul class="service_list">
    {% for service in list_service %}
    <li>
      <div class="card_service">
        <i class="{{service.icon}}"></i>
        <span class="service-name">{{service.name}}</span>
        <span class="service-button">
          Ver más
          <i class="fa-solid fa-arrow-right"></i>
        </span>
      </div>
    </li>
    {% endfor %}
  </ul>

  {% else %}
  <p>Por ahora no tienes servicios listados</p>
  {% endif %}
</section>
<section id="portfolio" class="portfolio_information">
  <div class="section_header">
    <span class="section_title">Portafolio</span>
    <span class="section_subtitle"
      >Los proyectos son la carta de presentación de un desarrollador</span
    >
  </div>
  <div class="section_content">
    {% if list_projects %}
    <ul class="projects_list">
      {% for project in list_projects %}
      <li>
        <div class="card_project">
          <img
            src="{{ project.image.url }}"
            width="20%"
            alt="Project Image"
            class="card_project_img"
          />
          <div class="card_project_info">
            <span class="project_title">{{ project.title }}</span>
            <span class="project_description">{{ project.description }}</span>
            <a href="{{ project.live_demo }}" target="_blank">Visitar</a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>Por ahora no tienes proyectos listados</p>
    {% endif %}
  </div>
</section>
<section id="contact" class="contact_information">
  <div class="section_header">
    <span class="section_title">Contáctame</span>
    <span class="section_subtitle"
      >Por favor enviame un mensaje para ponernos en contacto</span
    >
  </div>
  <div class="section_conent">
    <div class="contact_left">
      <span>Escríbeme</span>
      <div class="by_email">
        <i class="fa-solid fa-inbox"></i>
        <span>Email</span>
        <span>{{ profile_info.email }}</span>
        <span>Escríbeme</span>
      </div>
      <div class="by_whatsapp">
        <i class="fa-brands fa-whatsapp"></i>
        <span>WhatsApp</span>
        <span>{{ profile_info.phone }}</span>
        <span>Escríbeme</span>
      </div>
    </div>
    <div class="contact_right">
      <span>¿Tienes un proyecto en mente?</span>
      <form class="contact_form">
        <div class="contact_form_div">
          <label for="name" class="contact_form_tag">Nombre</label>
          <input
            type="text"
            name="name"
            class="contact_form_input"
            placeholder="Escribe tú nombre"
          />
        </div>
        <div class="contact_form_div">
          <label for="email" class="contact_form_tag">Email</label>
          <input
            type="email"
            name="email"
            class="contact_form_input"
            placeholder="Escribe tú email"
          />
        </div>
        <div class="contact_form_div contact_form_area">
          <label for="project" class="contact_form_tag">Proyecto</label>
          <textarea
            name="project"
            cols="30"
            rows="10"
            class="contact_form_input"
            placeholder="Escribe el proyecto que tienes en mente"
          ></textarea>
        </div>
        <button class="button">Enviar Mensaje</button>
      </form>
    </div>
  </div>
</section>
{% endblock %}
