{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a4e4979203.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'portfolio/css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'portfolio/css/styles.css' %}" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'portfolio/js/scripts.js' %}"></script>
    <link
      rel="shortcut icon"
      href="{% static 'portfolio/images/favicon1.jpg' %}"
      type="image/x-icon"
    />
    <title>Portafolio - Pablo Alvarado</title>
  </head>
  <body>
    <header>{% include "partials/navbar.html" %}</header>
    <main>{% block main %}{% endblock %}</main>
    <footer>{% include "partials/footer.html" %}</footer>
    <script>
      $(document).ready(function () {
        $("#contactForm").on("submit", function (event) {
          event.preventDefault();

          $.ajax({
            url: "", // La misma URL donde el formulario está siendo enviado
            type: "POST",
            data: $(this).serialize(),
            success: function (response) {
              // Mostrar el modal de éxito
              alert("Mensaje enviado correctamente");
              $("#contactForm")[0].reset();
            },
            error: function (response) {
              alert("Ha ocurrido un error. Inténtalo de nuevo.");
            },
          });
        });

        $("#closeModal").on("click", function () {
          $("#successModal").hide();
        });
      });
    </script>
    <script>
      document.querySelectorAll(".menu a").forEach((anchor) => {
        anchor.addEventListener("click", function (e) {
          const targetId = this.getAttribute("href").substring(1);
          const targetSection = document.getElementById(targetId);

          if (targetSection) {
            e.preventDefault(); // Previene el comportamiento por defecto
            window.history.pushState(null, null, `#${targetId}`); // Cambia la URL sin recargar la página
            window.scrollTo({
              top: targetSection.offsetTop,
              behavior: "smooth",
            });
          }
        });
      });
    </script>
    <script>
      $(document).ready(function () {
        // Función para activar el menú inferior
        function activateBottomMenu() {
          $(".header").show(); // Agrega una clase al header para aplicar estilos específicos al menú inferior
          $(".menu").hide(); // Muestra el menú
          $(".logo").show();
          $(".hamburger").show(); // Muestra el icono de hamburguesa
          $(".close").hide(); // Oculta el icono de cerrar
        }

        // Función para activar el menú superior
        function activateTopMenu() {
          $(".header").show(); // Remueve la clase del header para aplicar estilos específicos al menú superior
          $(".menu").show(); // Oculta el menú
          $(".hamburger").hide(); // Oculta el icono de hamburguesa
          $(".close").hide(); // Oculta el icono de cerrar
        }

        // Función para verificar el tamaño de la pantalla y activar el menú correspondiente
        function checkWindowSize() {
          if ($(window).width() <= 768) {
            activateBottomMenu();
          } else {
            activateTopMenu();
          }
        }

        // Ejecutar la función al cargar la página
        checkWindowSize();

        // Ejecutar la función cuando se redimensiona la ventana del navegador
        $(window).resize(function () {
          checkWindowSize();
        });

        // Evento de clic en el icono de hamburguesa para mostrar el menú en pantallas pequeñas
        $(".hamburger").click(function () {
          if ($(window).width() <= 768) {
            $(".menu").show();
            $(".logo").hide();
            $(".hamburger").hide();
            $(".close").show();
          }
        });

        // Evento de clic en el icono de cerrar para ocultar el menú en pantallas pequeñas
        $(".close").click(function () {
          if ($(window).width() <= 768) {
            $(".menu").hide();
            $(".logo").show();
            $(".hamburger").show();
            $(".close").hide();
          }
        });
      });
    </script>
  </body>
</html>
