<div class="header">
  <div class="logo">
    <h1>PAALVARADOR</h1>
  </div>
  <nav class="menu">
    <ul>
      <li class="active">
        <a class="nav_link" href="#profile"
          ><i class="fa-solid fa-house"></i>INICIO</a
        >
      </li>
      <li>
        <a class="nav_link" href="#about"
          ><i class="fa-solid fa-face-smile"></i>SOBRE MI</a
        >
      </li>
      <li>
        <a class="nav_link" href="#services"
          ><i class="fa-solid fa-briefcase"></i>SERVICIOS</a
        >
      </li>
      <li>
        <a class="nav_link" href="#portfolio"
          ><i class="fa-solid fa-folder-open"></i>PORTAFOLIO</a
        >
      </li>
      <li>
        <a class="nav_link" href="#contact"
          ><i class="fa-solid fa-envelope"></i>CONTÁCTAME</a
        >
      </li>
    </ul>
  </nav>
  <div class="hamburger">
    <i class="fa-solid fa-bars"></i>
  </div>
  <div class="close">
    <i class="fa-solid fa-close"></i>
  </div>
</div>
