:root {
  --header-height: 4rem;

  /*======== Colors ===========*/
  /* Color mode HSL(hue, saturation, lightness)*/
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  --body-color: hsl(var(--hue), var(--sat), 98%);
  --container-color: #fff;

  /*============= Font and typography ==============*/
  --body-font: "Poppins", sans-serif;

  --big-font-size: 3.5rem;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 0.625rem;

  /*============= Font weight ===============*/
  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*============ Margees Bottom =============*/
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /*============ z index ============*/
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}


html, body {
    background-color: white;
}

a {
    text-decoration: none;
    color: #888;
}

/* Estilo global para todas las secciones */
.section_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: var(--header-height);
}

.section_title {
    font-size: 2.5rem;
    font-weight: bolder;
    margin-bottom: 0.8rem;
}

.section_subtitle {
    font-size: 1rem;
    color: rgba(27, 31, 35, 0.55)
}

.section_block_title {
    font-size: 1.5rem;
    color: rgba(27, 31, 35, 0.70)
}

/* Estilos Cabecera */
.header {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 100%;
    z-index: 100;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    position: fixed;
}

.header h1 {
    font-family: "Poppins";
    font-size: 1.2rem;
    font-weight: 600;
    padding: 1rem;
}

.header ul {
    list-style: none;
    display: flex;
    padding: 0.2rem;
}

.hamburger {
    margin-right: 1rem;
    display: none;
}

.close {
    margin-right: 1rem;
    display: none;
}

.header li {
    padding: 0.4rem 0.2rem;
}

.header li a {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    height: 20px;
    padding: 0.8rem 0.8rem;
}

.header li a:hover {
    color: #333;
}

.menu {
    display: block;
}

.menu li.active a {
    padding: 0.8rem 0.8rem;
    background-color: #333; /* Cambia esto según tus preferencias */
    color: white;
}

.nav_link {
    display: flex;
    align-items: center;
    gap: 0.2rem
}

main {
    margin: 0 2rem;
}


/* Estilos profile */
.profile_information {
    display: flex;
    flex-direction: column;
}

.section_content_profile {
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 3rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.profile_social_links {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 600;
}

.profile_social_links ul {
    padding: 1.2rem;
}

.profile_social_links ul li {
    margin: 1.2rem 0;
}

.profile_social_links ul li a {
    text-decoration: none;
    color: black;
}

.profile_social_links ul li a:hover {
    color: rgba(0, 0, 255, 0.85);
}

.profile_info {
    width: 450px;
    display: flex;
    flex-direction: column;
}

.profile_buttons {
    margin-bottom: 4rem;
}

.introduction {
    display: flex;
    flex-direction: column;
}

.introduction_presentation {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.introduction_name {
    font-size: 2.5rem;
    color: rgba(0, 180, 0, 0.82);
    font-weight: 800;
}

.introduction_title {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
}

.introduction_description {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #555;
}


.profile_info_typing {
    background-color: black;
    color: white;
    padding: 1.5rem 1rem;
    font-family: "Source Code Pro";
    margin-bottom: 2rem;
    height: 80px;
}

.button-profile {
    width: 100px;
    text-align: center;
    padding: 1rem;
    background-color: #222;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    margin-bottom: 1.8rem;
}

.profile_picture {
    margin-bottom: 1.8rem;
}

/* Estilos seccion sobre mi (about) */
.about_information {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.about_education_experience {
    display: flex;
    width: 100%;
    gap: 1rem;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.about_education {
    text-align: center;
    width: 250px;
}

.institution, .degree, .role, .company {
    display: flex;
    margin-bottom: 0.2rem;
}

.institution i, .degree i, .role i, .company i {
    margin-right: 1rem;
}


.about_experience {
    text-align: center;
    width: 250px;
}

.card_education {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    margin: 2rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.card_education_dates, .card_experience_dates {
    display: flex;
    justify-content: space-between;
}

.card_experience {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    margin: 2rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.about_profile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 2rem 0;
    flex-wrap: wrap;
}

.about_profile_name {
    font-size: 1.4rem;
    margin: 2rem 0;
}

.about_profile img {
    width: 300px;
    border-radius: 20px 20px 20px 20px;
}

.about_profile_info {
    width: 400px;

}

.about_skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.list_skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 2rem 0;
}

.card_skills {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
    width: 200px;
    border-radius: 5px;
}

.card_skills_info {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card_skills i {
    font-size: 5rem;
    color: #555;
}

/***** Estilos para la barra de progreso ****/
.w3-light-grey {
    width: 150px;
    background-color: #999;
    height: 24px;
    margin-top: 2rem;
    border-radius: 5px;
}

.w3-green {
    background-color: green;
    border-radius: 5px;
}

.w3-green p {
    color: white;
    text-align: center;
}

/* Services Section */
.services_information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.service_list {
    display: flex;
    flex-direction: row;
    gap: 2rem;  
    align-items: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: center;
}

.card_service {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 6rem 0 6rem 2rem;
}

.card_service i {
    font-size: 1.8rem;
    margin-bottom: 2rem;
}

.service-name {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

.service-button {
    display: inline-flex;
    column-gap: 0.50rem;
    color: #555;
    cursor: pointer;
}

.service-button i {
    font-size: 12px;
    font-weight: bold;
}

.services_modal {
    display: none;
}

/* Portfolio section */
.portfolio_information {
    border: 1px solid white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.card_project {
    display: flex;
    margin: 1rem 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    min-height: 150px;
}

.card_project_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.card_project_img {
    min-width: 200px;
}

/* Sectión Contact */
.contact_information {
    border: 1px solid white;
    margin-top: 2rem;
}

.section_content_contact {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.contact_left {
    text-align: center;
}

.contact_left_title, .contact_right_title {
    font-size: 1.5rem;
    color: rgba(27, 31, 35, 0.70);
    
}

.by_email, .by_whatsapp {
    background-color: white;
    border: 1px solid rgba(239, 193, 193, 0.5);
    border-radius: 0.75rem;
    padding: 1rem;
    text-align: center;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    width: 300px;
}

.by_email i, .by_whatsapp i {
    font-size: 2rem;
}

.by_email span, .by_whatsapp span {
    margin: 0.40rem 0;
}

.contact_form {
    margin: 1rem 0;
    width: 360px;
    text-align: center;
}

.contact_form_div {
    height: 4rem;
    margin-bottom: 0.25rem;
    position: relative;
}

.contact_form_tag {
    left: 1.25rem;
    padding: 0.25rem;
    position: absolute;
    top: -0.65rem;
    z-index: 10;
    background-color: white;
    font-size: smaller;
}

.contact_form_input {
    background: none;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.75rem;
    left: 0;
    outline: none;
    padding: 1rem;
    position: absolute;
    top: 0;
    width: 90%;
    z-index: 1;
}

.contact_form_area {
    resize: none;
    height: 10rem;
}

.button {
    background-color: var(--title-color);
    border-radius: 1rem;
    color: var(--container-color);
    font-weight: var(--font-medium);
    padding: 1.25rem 2rem;
    margin-top: 3rem;
    cursor: pointer;
}

/* Footer */
.footer {
    border: 1px solid rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
}

.copyright {
    padding: 2rem 0;
}


/* Media Queries */
@media (max-width: 768px){
    .section_header {
        margin-top: 0.4rem;
    }

    .header {
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: start;
        width: 100%;
    }

    .menu {
        display: none;
        width: 100%;
    }

    .header ul {
        width: 100%;
        list-style: none;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto auto; 
        column-gap: 10px;
        row-gap: 15px;
    }

    .logo {
        display: block;
    }

    .close {
        margin-top: 1rem;
        display: none;
    }

    .hamburger {
        margin-top: 1rem;
        display: block;
    }

    .nav_link {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem
    }
}
